html {
    overscroll-behavior: none;
    scroll-behavior: smooth;
    scrollbar-width: thin;
    text-rendering: optimizeLegibility;
    touch-action: manipulation;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    -webkit-tap-highlight-color: transparent;
}

html::-webkit-scrollbar {
    width: 8px;
    height: 8px
}

body {
    color: var(--text-color-main, #000000);
    font-family: var(--text-family, sans-serif);
    font-size: 20px;
    font-weight: var(--text-weight-main, 400);

    line-height: var(--text-line-height, 150%);

    background-color: var(--background-color-main, #FFFFFF);
}

.page404 {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.page404__content {
    text-align: center;
}

.page404__logo {
    width: 100%;
    max-width: 780px;
    margin-bottom: 50px;
}

.page404__title {
    margin-bottom: 50px;

    font-size: 30px;

    line-height: 30px;

    text-transform: none;
}

.page404__text {
    margin: 0;
    margin-bottom: 30px;

    color: var(--gray, #DDDDDD);
}

.page404__link {
    font-size: 20px;
    font-weight: var(--text-weight-semibold, 600);
}

@media screen and (max-width: 1440px) {
    .page404__logo {
        max-width: 510px;

        margin-bottom: 40px;
    }

    .page404__title {
        margin-bottom: 40px;

        font-size: 24px;
    }

    .page404__text {
        margin-bottom: 30px;

        font-size: 16px;
    }

    .page404__link {
        font-size: 16px;
    }
}

@media screen and (max-width: 768px) {
    .page404__logo {
        max-width: 298px;

        margin-bottom: 20px;
    }

    .page404__title {
        margin-bottom: 20px;

        font-size: 18px;

        line-height: 18px;
    }

    .page404__text {
        font-size: 14px;
    }
}