.button {
    display: block;
    padding: 16px 5px;

    color: var(--button-normal-color, #FFFFFF);
    font-family: var(--text-family, sans-serif);
    font-size: var(--text-size-main, 14px);
    font-weight: var(--text-weight-bold, 700);

    line-height: 18px;
    text-align: center;

    background-color: var(--button-normal-background-color, #403080);
    border: none;
    border-radius: var(--border-radius, 10px);

    outline: none;

    cursor: pointer;

    transition: background-color 0.2s ease-in-out;
}

.button:hover {
    background-color: var(--button-normal-background-color_hover, #9B8FCC);
}

.button:focus {
    outline: 2px solid var(--purple, #9B8FCC);
}

.button:disabled {
    color: var(--button-normal-color_disabled, #666666);
    background-color: var(--button-normal-background-color_disabled, #CCCCCC);

    cursor: not-allowed;
}

@media (max-width: 768px) {
    .button {
        border-radius: var(--border-radius_mobile, 5px);
    }
}