.input-search {
    position: relative;
    width: 100%;
    height: 48px;

    border-radius: var(--border-radius, 10px);

    transition: box-shadow 0.1s ease-in-out;
}

.input-search__icon {
    position: absolute;
    top: 13px;
    left: 13px;
    width: 24px;
    height: 24px;
}

.input-search__form {
    height: 100%;
}

.input-search__input {
    height: 100%;
    padding-left: 50px;
}

.input-search:has(.input-search__input:focus) {
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
}

@media screen and (max-width: 1440px) {
    .input-search__input {
        font-size: 16px
    }
}

@media screen and (max-width: 768px) {
    .input-search {
        height: 28px;

        border-radius: var(--border-radius, 10px);

        transition: box-shadow 0.1s ease-in-out;
    }

    .input-search__input {
        padding-left: 26px;

        font-size: 12px;
    }

    .input-search__icon {
        top: 5px;
        left: 5px;
        width: 16px;
        height: 16px;
    }

    .input-search:has(.input-search__input:focus) {
        box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
    }
}