.menu-mobile {
    position: fixed;
    display: block;
    top: 50px;
    right: 0;
    padding: 10px 10px 17px;

    width: 100%;
    max-width: 255px;

    font-family: var(--text-family, sans-serif);
    font-size: 12px;
    font-weight: var(--text-weight-main, 400);

    line-height: 12px;

    background-color: var(--white, #FFFFFF);

    box-shadow: 0 12px 6px 4px rgba(0, 0, 0, 0.1);

    z-index: 1000;

    overflow-y: auto;

    transform: translateX(0);
    transition: transform 0.2s ease-in-out;
}

.menu-mobile.invisible {
    transform: translateX(110%);
}

.menu-mobile__title {
    text-align: center;
    padding-bottom: 7px;

    border-bottom: 1px solid var(--gray-light, #D9D9D9);
}

.menu-mobile__logo {
    width: 100%;
    max-width: 173px;
    height: auto;
    margin: 0 auto;
}

.menu-mobile__items {
    margin: 20px 0 0;
    padding: 0;

    list-style: none;
}

.menu-mobile__item {
    margin-bottom: 10px;
}

.menu-mobile__item:has(.menu-mobile__link_strong) {
    margin-top: 16px;
}

.menu-mobile__link {
    color: var(--black, #000000);
}

.menu-mobile__link:visited {
    color: var(--black, #000000);
}

.menu-mobile__link_strong {
    font-weight: var(--text-weight-semibold, 600);
}