.section-logo {
    display: block;
    width: 100%;
    margin: 0;
    padding: 10px 30px;
}

.section-logo__items {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0;
    padding: 0;

    list-style: none;
}

.section-logo__item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 130px;
    height: 100px;
}

@media screen and (max-width: 1440px) {
    .section-logo {
        padding: 40px 0;
    }

    .section-logo__item {
        width: 98px;
        height: 75px;
    }
}

@media screen and (max-width: 768px) {
    .section-logo {
        padding: 11px 0;
    }

    .section-logo__item {
        width: 50px;
        height: 38px;
    }
}